* {
  margin: 0;
  padding: 0;
}

html {
  background-color: black;
}

body {
  color: aliceblue;
}

.main-header {
  text-align: center;
}

.main-header__img {
  width: 20rem;
  background-color: black;
  padding: 2rem;
}

.main-nav {
  margin: 0 30rem;
}

.main-nav__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-nav__item {
  font-size: 1.2rem;
}
